<!-- 
<div class="text-center" id="ad1">
    <small>Advertisement</small>
    <div   style='min-width: 250px; min-height: 250px;'>
       
    </div>
</div> -->


<!-- <script>
    // Callback function to execute when the div intersects with the viewport
    const handleIntersection: IntersectionObserverCallback = (entries, observer) => {
    entries.forEach(entry => {
        if (entry.isIntersecting) {
            console.log("Ad1 loaded");
        // You can add any additional actions you want to perform when the div enters the viewport here

        // Stop observing after the first intersection
        observer.disconnect();
        }
    });
    };

    // Options for the Intersection Observer
    const options: IntersectionObserverInit = {
    root: null, // viewport
    rootMargin: '0px', // no margin
    threshold: 0.5, // 50% of the div is visible
    // Only run the callback once
    once: true
    };

    // Create a new Intersection Observer
    const observer = new IntersectionObserver(handleIntersection, options);

    // Select the div you want to observe
    const targetDiv = document.getElementById('ad1');

    if (targetDiv) {
    // Start observing the target div
    observer.observe(targetDiv);
    }

</script> -->










