---
import Layout from '../layouts/Layout.astro';
import data from '../../db/database'
import QuizCard from "../components/QuizCard.astro"
import Ad1 from '../components/ads/Ad1.astro';
import ADX from '../components/ADX.astro';

// const errors = data.filter(x=> {
// 	if(x.high){
// 		return true
// 	}
// })


// console.log(errors)
// console.log(errors.length)


// import fs from 'fs'
// fs.writeFile('./test.json', JSON.stringify(errors), err => {
//   if (err) {
//     console.error(err);
//   } else {
//     // file written successfully
//   }
// });




---
<Layout>
	<>
	<label for="input">Number of questions</label>
	 <input class="border"type="number" name="input" id="questionsID" />
	 <br/>
	<label for="input">how many answers do you want this quiz to have</label>
	 <input class="border"type="number" name="input" minlength="2" id="answersID" />
	 <br/>

	 <div class="answers text-primary w-full " id="answers">
	 </div>
	</>
</Layout>



<script>
const questionEl = document.querySelector("#questionsID");
const answerEL = document.querySelector("#answersID");
const answersDiv = document.querySelector("#answers");

answerEL?.addEventListener("keyup", function() {
    const questionsValue = parseInt(questionEl.value);
    const elValue = parseInt(answerEL.value);

    if (elValue > 1 && elValue <= 10) {
        const ratio = questionsValue / elValue;
        let temp = 0;
		const tempArr =[0]

        do {
			const answer1 = temp + ratio;
			if(answer1 <= questionsValue ){
				tempArr.push(answer1)
			}
    
            temp += ratio; 
        } while (temp <= questionsValue);
	
		tempArr.forEach((x,i)=>{
			if(tempArr[i+1]){

				let resulttextArea = document.createElement("textarea");
				resulttextArea.classList.add("border", "w-full", "block")

				const  breakElement = document.createElement("br")
				
				if(i=== 0){
					console.log(` result ${i+1} is: >=${x} - <=${tempArr[i+1]}`)
					resulttextArea.setAttribute("placeholder", `>=${x.toFixed(2)} - <=${tempArr[i+1].toFixed(2)}`) 
					answersDiv?.appendChild(resulttextArea)
					answersDiv?.appendChild(breakElement)
					
				}else{
					console.log(` result ${i+1} is: >${x} - <=${tempArr[i+1]}`)
					resulttextArea.setAttribute("placeholder", `>${x.toFixed(2)} - <=${tempArr[i+1].toFixed(2)}`) 
					answersDiv?.appendChild(resulttextArea)
					answersDiv?.appendChild(breakElement)
				}
			}
		})
    }
});



function makeElement(){
	console.log(`make element`)
}

</script>

<style>
	
</style>