---
import Layout from "../layouts/Layout.astro";
import data from "../../db/database";
import QuizCard from "../components/QuizCard.astro";
import AdSense from "../components/AdSense.astro";
---

<Layout>
	<>
		<AdSense /><div class="divide-y divide-dashed">
			{data.map((x) => <QuizCard x={x} />)}

			<p>{"Total of " + data.length + " Travel Quizzes"}</p>
		</div>
	</>
</Layout>
