<div class="min-w-[250px] min-h-[250px] mx-auto">
  <i>Advertisement</i>
	<ins
		class="adsbygoogle"
		style="display:block"
		data-ad-client="ca-pub-2087355261582319"
		data-ad-slot="8432014124"
		data-ad-format="auto"
		data-full-width-responsive="true"
	>
	</ins>
</div>
