---
const id = Astro.props.id;
---

<!-- <div class="text-center advert" id={id} >
    <small>Advertisement</small>
    <div id={id}  style='min-width: 250px; min-height: 250px;'>
        <script>
        </script>
    </div>
</div>


<script>
    let advertContainer = document.querySelector('.advert');
    console.log(advertContainer)
</script> -->








